torch
torchvision
torchaudio
transformers
nltk
spacy
scikit-learn
pandas
numpy
opencv-python
facenet-pytorch
Pillow
matplotlib
seaborn
plotly
librosa
pyaudio
streamlit
flask
tqdm
datasets
huggingface-hub
pyarrow